@import "color";
@import "mixins";
*{
  outline: none !important;
}
body{
  margin: 0;
  padding: 0;
}
.main-page{
  margin: 0 20px;
}

.full-page{
  margin: 0 -20px;
}


img{
  max-width: 100%;
  width: 100%;
}

//FONT
h1, h2, h3, h4, h5, h6, p, li, span, a {
  font-family: 'Raleway', sans-serif;
}
.button-primary{
  padding: 10px;
  background-color: $colorBlue;
  color: $white;
  @include box-shadow(1px, 1px, 10px, -1px, rgba($black, 0.5));
  &:hover{
    background-color: $wisteria;
  }
}

.card {
  @include box-shadow(0, 8px, 16px, 0, rgba($black, 0.5));
  transition: 0.3s;
  max-width: 450px;
  margin: 0 auto;
  cursor: pointer;
  .container {
    padding: 2px 16px;
    h4{
      font-size: 30px;
    }
  }
}
