@import "src/assets/style/general-style";
.search-letter-container {
  .sidebar {
    h3{
      text-align: center;
      font-size: 30px;
    }
    .search-letter {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      li {
        font-size: 16px;
        margin-bottom: 10px;
        margin-right: 30px;
        &:last-child{
          margin-right: 0;
        }

        a {
          text-decoration: none;
          color: $colorBlue;
          cursor: pointer;

          &:hover {
            color: $wisteria;
          }
        }
      }
    }
  }
  .container-card-search-letter{
    width: 79%;
    h3{
      text-align: center;
    }
  }
  .gallery-letter-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: self-start;
    justify-content: space-between;
    margin-top: 70px;
    .card{
      width: 30%;
      margin: 0 0 30px;
      @media(max-width: 991px){
        width: 45%;
      }
      div{
        padding: 0 20px 20px;
      }
    }
  }
}
