@import "src/assets/style/general-style";

.footer{
  margin-top: 50px;
  background-color: $font;
  display: flex;
  align-items: baseline;
  img{
    max-width: 150px;
  }
  .container {
    margin-left: auto;
    p {
      margin-left: auto;
      color: $white;
      margin-right: 10px;
      font-size: 10px;
    }
  }
}
